<img style="position: absolute;width: 200px;height:100%;" ng-src="{{bgurl}}">
<div ng-class="{navigation:true, collapsed:sideNavCollapsed}">
	<div style="text-align: center;padding-bottom: 38px;border-bottom: 1px solid rgba(255,255,255,0.1);">
		<img class="logo" src="/assets/images/white-logo.png" alt="">
		<img class="logo-min" src="/assets/images/white-logo-min.png" alt="">
	</div>
	<!-- <a ui-sref-active="active" ui-sref="main.dashboard" ng-if="!isIA">
		<img class="icon" src="/assets/images/dashboard.png" alt="">
		<img class="icon-active" src="/assets/images/dashboard-active.png" alt="">
		Dashboard
	</a>-->


	<a ui-sref-active="active" ui-sref="main.pdf">
	<!-- <a ui-sref-active="active" ui-sref="main.pdf.kyck"> -->

	<i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
	profile
	</a>

	<a ui-sref-active="active" ui-sref="main.chart">
	<!-- <a ui-sref-active="active" ui-sref="main.pdf.kyck"> -->

	<i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
	chart
	</a>


</div>
